* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* hoặc width: 100%; */
    /* top: 0; */
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
    min-width: 160px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 10px;
}

#header .search-btn {
    float: right;
    color: white;
    font-size: 22px;
    padding: 12px 24px 12px 24px ;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    /*
    50% là 50% chiều ngang của chính nó
    */
    background: url('/slider1.jpg') no-repeat top center / cover;
    position: relative;
}

#slider .text-content {
    position: absolute;
    color: white;
    bottom: 47px;
    text-align: center;
    width: 100%;
    
}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
    margin: 10px;
}

#slider .text-description {
    font-size: 15px;
}


#content {

}

#footer {

}